# Database Connections (PostgreSQL / Neon)
DATABASE_URL="postgresql://user:pass@ep-jolly-hall...neon.tech/neondb?sslmode=require"
DIRECT_DATABASE_URL="postgresql://user:pass@ep-jolly-hall...neon.tech/neondb?sslmode=require"

# NextAuth Configuration
# NEXTAUTH_URL should point to the frontend where the client browser runs
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_random_32_char_secret"

# AI Engineering
GROQ_API_KEY="gsk_..."
GOOGLE_GENERATIVE_AI_API_KEY="..."
GEMINI_API_KEY="..."

# Brevo (Sendinblue) Email Service
BREVO_API_KEY="xkeysib-..."
BREVO_SENDER_EMAIL="your-verified-email@domain.com"
BREVO_SENDER_NAME="NexLearn"

# Google OAuth Provider
GOOGLE_CLIENT_ID="142499239480-..."
GOOGLE_CLIENT_SECRET="GOCSPX-..."
